.image {
    display: inline-block;
    width: 690px;
}

.indexP {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: black;
}

.indexDiv {
    margin: auto;
    display: inline-block;
    background: #FFFFFF;
    width: 250px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.link {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 14px;
}

.welcomeText {
    background: #FFFFFF;
    width: 500px;
    margin-left: 80px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: black;
}

.login {
    width: 300px;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
}

.tableClass {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    width: 700px;
}

.tableClass tr th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.tableClass tr td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}

#mapid {
    display: inline-block;
    width: 600px;
    height: 450px;
    position: relative;
    outline: none;
}

.error {
    color: red;
    font-size: 15px;
}